.container {
	display: flex;
	padding: 0;
	width: 100%;
	height: 100%;

	cursor: pointer;
	border: none;
}

.container:active {
	z-index: 1;
	border: none;
	outline: 2px solid black;
}

@media (min-width: 481px) {
	.container:hover {
		z-index: 1;
		border: none;
		outline: 2px solid black;
	}
}
